@import './transition.scss';
.Common.page-width{max-width: 1760px;width: 90%;margin: 0 auto;}

a, li, ul{
    text-decoration:none;
    list-style-type:none;
  }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
}